# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project specific
/data
/config.yaml
/hajimari
/.kubeconfig

# Chart dependencies
charts/hajimari/charts
charts/hajimari/Chart.lock
charts/hajimari/local.yaml

# UI dependencies
node_modules
public/build/

.DS_Store