<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{or .Title "Hajimari"}}</title>
    <meta charset="utf-8">
    <meta http-equiv="Default-Style" content="">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link type="text/css" rel="stylesheet" href="./static/css/styles.css"  media="screen,projection"/>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/lint/lint.min.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/theme/dracula.min.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/fold/foldgutter.min.css" rel="stylesheet" type="text/css">
    <script src="//code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>
    <section id="modal">
        <div>
            <header id="modal-header">
                <h1>Options</h1>
                <a href="#" title="Close" class="modal-close">
                    <span class="iconify" data-icon="mdi-close"></span>
                </a>
            </header>

            <!-- <section id="providers">
                <table>
                    <tr>
                        <th>Website</th>
                        <th>Prefix</th>
                    </tr>
                    {{range .Providers}}
                    <tr>
                        <td><a href="{{.URL}}">{{.Name}}</a></td>
                        <td>{{.Prefix}}</td>
                    </tr>
                    {{end}}
                </table>
            </section> -->

            <h2>Color themes</h2>

            <div id="modal-theme">
                <button data-theme="blackboard" class="theme-button theme-blackboard">Blackboard</button>
                <button data-theme="gazette" class="theme-button theme-gazette">Gazette</button>
                <button data-theme="espresso" class="theme-button theme-espresso">Espresso</button>
                <button data-theme="cab" class="theme-button theme-cab">Cab</button>
                <button data-theme="cloud" class="theme-button theme-cloud">Cloud</button>
                <button data-theme="lime" class="theme-button theme-lime">Lime</button>
                <button data-theme="passion" class="theme-button theme-passion">Passion</button>
                <button data-theme="blues" class="theme-button theme-blues">Blues</button>
                <button data-theme="chalk" class="theme-button theme-chalk">Chalk</button>
                <button data-theme="tron" class="theme-button theme-tron">Tron</button>
                <button data-theme="paper" class="theme-button theme-paper">Paper</button>
            </div>

            <section id="config">
                <textarea id="editor">
                </textarea>

                <button id="save-config" class="save-button">Save</button>
            </section>

            <header id="modal-footer">
                <a href="https://github.com/toboshii/hajimari"><span class="iconify" data-icon="mdi-github-box"></span></a>
                <a href="https://materialdesignicons.com/"><span class="iconify" data-icon="mdi-material-design"></a></span>
            </header>

        </div>
    </section>

    <main id="container" class="fade">
        <section id="search">
            <input name="keywords" type="text" id="keywords" size="50" spellcheck="false" autofocus="true" onkeydown="handleKeyPress(event)">
        </section>

        <section id="header">
            <h1>{{.Greeting}}</h1>
            <h2>{{.Date}}</h2>
        </section>

        <!-- <section id="modules">
            <h3>Modules</h3>
            {{range .Modules}}
                <p><span style="color: var(--color-text-acc);">{{.Name}}</span> - {{.Output}}</p>
            {{end}}
        </section> -->

        <section id="apps">
            <h3>Applications</h3>
            <div id="apps_loop">
                {{range .Apps}}
                    <div class="apps_item">
                        <div class="apps_icon">
                            <span class="iconify icon" data-icon="mdi-{{or .Icon "application"}}"></span>
                        </div>
                        <div class="apps_text">
                            <a href="{{.URL}}">{{.Name}}</a>
                            <span id="app-address">{{.URL}}</span>
                        </div>
                    </div>
                {{end}}
            </div>
        </section>

         <section id="links">
            <h3>Bookmarks</h3>
            <div id="links_loop">
                {{range .Groups}}
                    <div id="links_item">
                        <h4>{{.Name}}</h4>
                        {{range .Links}}
                            <a href="{{.URL}}" class="theme_color-border theme_text-select">{{.Name}}</a>
                        {{end}}
                    </div>
                {{end}}
            </div>
        </section>
    </main>

    <div id="modal_init">
        <a class="btn" href="#modal">
            <span class="iconify icon" data-icon="mdi-xbox-controller-menu"></span>
        </a>
    </div>

    <script src="./static/js/main.js" type="text/javascript"></script>
    <script src="./static/js/themer.js" type="text/javascript"></script>
    <script src="./static/js/search.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/yaml/yaml.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/lint/yaml-lint.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/lint/lint.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/fold/foldcode.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/fold/foldgutter.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/addon/fold/indent-fold.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js" type="text/javascript"></script>
</body>
</html>